#first{
  font-family: Times New Roman;
}
#second{
  font-family: Georgia;
}
#third{
  font-family: Cambria;
}
#fourth{
  font-family: Arial;
}
#fifth{
  font-family: Verdana;
}
#sixth{
  font-family: Trebuchest MS;
}
#seventh{
  font-family: Courier;
}
