#one{
  font-family: Times New Roman;
}
#two{
  font-family: Georgia;
}
#three{
  font-family: Cambria;
}
#four{
  font-family: Arial;
}
#five{
  font-family: Verdana;
}
#six{
  font-family: Trebuchest MS;
}
#seven{
  font-family: Courier;
}
